java-tests/ws/jax-ws/src/main/resources/ConfigService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="ConfigService"
                  targetNamespace="http://idecs.atc.ru/config/ws/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:cfg="http://idecs.atc.ru/config/ws/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="2.0"
                    targetNamespace="http://idecs.atc.ru/config/ws/">
            <xsd:complexType name="Error">
                <xsd:annotation>
                    <xsd:appinfo>
                        <jxb:class ref="ru.atc.idecs.common.util.ws.type.Error" />
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="code" type="xsd:long"/>
                    <xsd:element name="message" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="FieldError">
                <xsd:annotation>
                    <xsd:appinfo>
                        <jxb:class ref="ru.atc.idecs.common.util.ws.type.FieldError" />
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="fieldName" type="xsd:string"/>
                    <xsd:element name="error" type="cfg:Error"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="AbstractResponse">
                <xsd:annotation>
                    <xsd:appinfo>
                        <jxb:class ref="ru.atc.idecs.common.util.ws.type.AbstractResponse" />
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="error" type="cfg:Error">
                        <xsd:annotation>
                            <xsd:documentation>Ошибка</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="GetParameterRequest">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>Имя параметра</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="location" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Параметр принадлежности к региону</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SetStrParameterRequest">
                <xsd:complexContent>
                    <xsd:extension base="cfg:GetParameterRequest">
                        <xsd:sequence>
                            <xsd:element name="value" type="xsd:string" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>Строковое значение</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="GetStrParameterResponse">
                <xsd:complexContent>
                    <xsd:extension base="cfg:AbstractResponse">
                        <xsd:sequence>
                            <xsd:element name="value" type="xsd:string" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>Строковое значение</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>

            <xsd:complexType name="SetIntParameterRequest">
                <xsd:complexContent>
                    <xsd:extension base="cfg:GetParameterRequest">
                        <xsd:sequence>
                            <xsd:element name="value" type="xsd:int" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>Целочисленное значение</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="GetIntParameterResponse">
                <xsd:complexContent>
                    <xsd:extension base="cfg:AbstractResponse">
                        <xsd:sequence>
                            <xsd:element name="value" type="xsd:int" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>Целочисленное значение</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>

            <xsd:complexType name="SetDateParameterRequest">
                <xsd:complexContent>
                    <xsd:extension base="cfg:GetParameterRequest">
                        <xsd:sequence>
                            <xsd:element name="value" type="xsd:dateTime" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>Значение даты-времени</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="GetDateParameterResponse">
                <xsd:complexContent>
                    <xsd:extension base="cfg:AbstractResponse">
                        <xsd:sequence>
                            <xsd:element name="value" type="xsd:dateTime" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>Значение даты-времени</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>

            <xsd:complexType name="SetDecimalParameterRequest">
                <xsd:complexContent>
                    <xsd:extension base="cfg:GetParameterRequest">
                        <xsd:sequence>
                            <xsd:element name="value" type="xsd:decimal" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>Десятичное значение</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="GetDecimalParameterResponse">
                <xsd:complexContent>
                    <xsd:extension base="cfg:AbstractResponse">
                        <xsd:sequence>
                            <xsd:element name="value" type="xsd:decimal" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>Десятичное значение</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>

            <xsd:complexType name="ParameterList">
                <xsd:sequence>
                    <xsd:element name="param" type="cfg:ConfigParameter" maxOccurs="unbounded" minOccurs="0"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ConfigParameter">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string"></xsd:element>
                    <xsd:element name="type" type="cfg:ParamType"></xsd:element>
                    <xsd:element name="description" type="xsd:string"></xsd:element>
                    <xsd:element name="dateVal" type="xsd:dateTime"></xsd:element>
                    <xsd:element name="textVal" type="xsd:string"></xsd:element>
                    <xsd:element name="strVal" type="xsd:string"></xsd:element>
                    <xsd:element name="decimalVal" type="xsd:decimal"></xsd:element>
                    <xsd:element name="intVal" type="xsd:int"></xsd:element>
                    <!--<xsd:element name="location" type="xsd:string" minOccurs="0"></xsd:element>-->
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListParametersRequest">
                <xsd:sequence>
                    <xsd:element name="filter" type="xsd:string"/>
                    <xsd:element name="location" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListParametersResponse">
                <xsd:complexContent>
                    <xsd:extension base="cfg:AbstractResponse">
                        <xsd:sequence>
                            <xsd:element name="list" type="cfg:ParameterList"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:simpleType name="ParamType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="S"/>
                    <xsd:enumeration value="D"/>
                    <xsd:enumeration value="T"/>
                    <xsd:enumeration value="I"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="GetLocksRequest">
                <xsd:sequence>
                    <xsd:element name="date" type="xsd:dateTime" minOccurs="0"/>
                    <xsd:element name="type" type="cfg:LockType" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="GetLocksResponse">
                <xsd:complexContent>
                    <xsd:extension base="cfg:AbstractResponse">
                        <xsd:sequence>
                            <xsd:element name="disclaimers" type="cfg:DisclaimerList"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="DisclaimerList">
                <xsd:sequence>
                    <xsd:element name="disclaimer" type="cfg:Disclaimer" maxOccurs="unbounded" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Disclaimer">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:long"/>
                    <xsd:element name="mnemonic" type="xsd:string"/>
                    <xsd:element name="date" type="xsd:dateTime"/>
                    <xsd:element name="text" type="xsd:string"/>

                    <!--<xsd:element name="warningDate" type="xsd:dateTime"></xsd:element>-->
                    <!--<xsd:element name="lockDate" type="xsd:dateTime"></xsd:element>-->
                    <!--<xsd:element name="warningDsc" type="xsd:string"></xsd:element>-->
                    <!--<xsd:element name="lockDsc" type="xsd:string"></xsd:element>-->
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="LockType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="WARNING"/>
                    <xsd:enumeration value="LOCK"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LockStatus">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="A"/>
                    <xsd:enumeration value="N"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="CheckServiceStatusRequest">
                <xsd:sequence>
                    <xsd:element name="uddiKey" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>Ключ электронной формы</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="language" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Код языка сообщения</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CheckServiceStatusResponse">
                <xsd:complexContent>
                    <xsd:extension base="cfg:AbstractResponse">
                        <xsd:sequence>
                            <xsd:element name="checkResult" type="xsd:boolean"/>
                            <xsd:element name="accessCode" type="xsd:string"/>
                            <xsd:element name="message" type="xsd:string" minOccurs="0"/>
                            <xsd:element name="fieldErrors">
                                <xsd:complexType>
                                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                                        <xsd:element name="fieldError" type="cfg:FieldError"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>

            <xsd:element name="serviceResponse" type="cfg:AbstractResponse"/>
            <xsd:element name="getIntParameterRequest" type="cfg:GetParameterRequest"/>
            <xsd:element name="getTextParameterRequest" type="cfg:GetParameterRequest"/>
            <xsd:element name="getStrParameterRequest" type="cfg:GetParameterRequest"/>
            <xsd:element name="getDateParameterRequest" type="cfg:GetParameterRequest"/>
            <xsd:element name="getDecimalParameterRequest" type="cfg:GetParameterRequest"/>

            <xsd:element name="getIntParameterResponse" type="cfg:GetIntParameterResponse"/>
            <xsd:element name="getStrParameterResponse" type="cfg:GetStrParameterResponse"/>
            <xsd:element name="getDateParameterResponse" type="cfg:GetDateParameterResponse"/>
            <xsd:element name="getDecimalParameterResponse" type="cfg:GetDecimalParameterResponse"/>

            <xsd:element name="setIntParameterRequest" type="cfg:SetIntParameterRequest"/>
            <xsd:element name="setTextParameterRequest" type="cfg:SetStrParameterRequest"/>
            <xsd:element name="setStrParameterRequest" type="cfg:SetStrParameterRequest"/>
            <xsd:element name="setDateParameterRequest" type="cfg:SetDateParameterRequest"/>
            <xsd:element name="setDecimalParameterRequest" type="cfg:SetDecimalParameterRequest"/>

            <xsd:element name="listParametersRequest" type="cfg:ListParametersRequest"/>
            <xsd:element name="listParametersResponse" type="cfg:ListParametersResponse"/>

            <xsd:element name="getLocksRequest" type="cfg:GetLocksRequest"/>
            <xsd:element name="getLocksResponse" type="cfg:GetLocksResponse"/>

            <xsd:element name="checkServiceStatusRequest" type="cfg:CheckServiceStatusRequest"/>
            <xsd:element name="checkServiceStatusResponse" type="cfg:CheckServiceStatusResponse"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="serviceResponse">
        <wsdl:part name="serviceResponse" element="cfg:serviceResponse"/>
    </wsdl:message>

    <wsdl:message name="getIntParameterRequest">
        <wsdl:part name="getIntParameterRequest" element="cfg:getIntParameterRequest"/>
    </wsdl:message>
    <wsdl:message name="getIntParameterResponse">
        <wsdl:part name="getIntParameterResponse" element="cfg:getIntParameterResponse"/>
    </wsdl:message>

    <wsdl:message name="getTextParameterRequest">
        <wsdl:part name="getTextParameterRequest" element="cfg:getTextParameterRequest"/>
    </wsdl:message>
    <wsdl:message name="getStrParameterRequest">
        <wsdl:part name="getStrParameterRequest" element="cfg:getStrParameterRequest"/>
    </wsdl:message>
    <wsdl:message name="getStrParameterResponse">
        <wsdl:part name="getStrParameterResponse" element="cfg:getStrParameterResponse"/>
    </wsdl:message>

    <wsdl:message name="getDateParameterRequest">
        <wsdl:part name="getDateParameterRequest" element="cfg:getDateParameterRequest"/>
    </wsdl:message>
    <wsdl:message name="getDateParameterResponse">
        <wsdl:part name="getDateParameterResponse" element="cfg:getDateParameterResponse"/>
    </wsdl:message>

    <wsdl:message name="getDecimalParameterRequest">
        <wsdl:part name="getDecimalParameterRequest" element="cfg:getDecimalParameterRequest"/>
    </wsdl:message>
    <wsdl:message name="getDecimalParameterResponse">
        <wsdl:part name="getDecimalParameterResponse" element="cfg:getDecimalParameterResponse"/>
    </wsdl:message>

    <wsdl:message name="setIntParameterRequest">
        <wsdl:part name="setIntParameterRequest" element="cfg:setIntParameterRequest"/>
    </wsdl:message>
    <wsdl:message name="setTextParameterRequest">
        <wsdl:part name="setTextParameterRequest" element="cfg:setTextParameterRequest"/>
    </wsdl:message>
    <wsdl:message name="setStrParameterRequest">
        <wsdl:part name="setStrParameterRequest" element="cfg:setStrParameterRequest"/>
    </wsdl:message>
    <wsdl:message name="setDateParameterRequest">
        <wsdl:part name="setDateParameterRequest" element="cfg:setDateParameterRequest"/>
    </wsdl:message>
    <wsdl:message name="setDecimalParameterRequest">
        <wsdl:part name="setDecimalParameterRequest" element="cfg:setDecimalParameterRequest"/>
    </wsdl:message>

    <wsdl:message name="listParametersRequest">
        <wsdl:part name="listParametersRequest" element="cfg:listParametersRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="listParametersResponse">
        <wsdl:part name="listParametersResponse" element="cfg:listParametersResponse"></wsdl:part>
    </wsdl:message>

    <wsdl:message name="getLocksRequest">
        <wsdl:part name="getLocksRequest" element="cfg:getLocksRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getLocksResponse">
        <wsdl:part name="getLocksResponse" element="cfg:getLocksResponse"></wsdl:part>
    </wsdl:message>

    <wsdl:message name="checkServiceStatusRequest">
        <wsdl:part element="cfg:checkServiceStatusRequest" name="checkServiceStatusRequest"/>
    </wsdl:message>
    <wsdl:message name="checkServiceStatusResponse">
        <wsdl:part element="cfg:checkServiceStatusResponse" name="checkServiceStatusResponse"/>
    </wsdl:message>

    <wsdl:portType name="ConfigService">
        <wsdl:operation name="setIntParameter">
            <wsdl:input message="cfg:setIntParameterRequest"/>
            <wsdl:output message="cfg:serviceResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getIntParameter">
            <wsdl:input message="cfg:getIntParameterRequest"/>
            <wsdl:output message="cfg:getIntParameterResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setDecimalParameter">
            <wsdl:input message="cfg:setDecimalParameterRequest"/>
            <wsdl:output message="cfg:serviceResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getDecimalParameter">
            <wsdl:input message="cfg:getDecimalParameterRequest"/>
            <wsdl:output message="cfg:getDecimalParameterResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setDateParameter">
            <wsdl:input message="cfg:setDateParameterRequest"/>
            <wsdl:output message="cfg:serviceResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getDateParameter">
            <wsdl:input message="cfg:getDateParameterRequest"/>
            <wsdl:output message="cfg:getDateParameterResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setStrParameter">
            <wsdl:input message="cfg:setStrParameterRequest"/>
            <wsdl:output message="cfg:serviceResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getStrParameter">
            <wsdl:input message="cfg:getStrParameterRequest"/>
            <wsdl:output message="cfg:getStrParameterResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setTextParameter">
            <wsdl:input message="cfg:setTextParameterRequest"/>
            <wsdl:output message="cfg:serviceResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getTextParameter">
            <wsdl:input message="cfg:getTextParameterRequest"/>
            <wsdl:output message="cfg:getStrParameterResponse"/>
        </wsdl:operation>
        <wsdl:operation name="listParameters">
            <wsdl:input message="cfg:listParametersRequest"></wsdl:input>
            <wsdl:output message="cfg:listParametersResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getLocks">
            <wsdl:input message="cfg:getLocksRequest"></wsdl:input>
            <wsdl:output message="cfg:getLocksResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="checkServiceStatus">
            <wsdl:input message="cfg:checkServiceStatusRequest"/>
            <wsdl:output message="cfg:checkServiceStatusResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ConfigServiceSOAP" type="cfg:ConfigService">

        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="setIntParameter">

            <soap:operation
                    soapAction="http://idecs.atc.ru/config/ws/setIntParameter" />
            <wsdl:input>

                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getIntParameter">

            <soap:operation
                    soapAction="http://idecs.atc.ru/config/ws/getIntParameter" />
            <wsdl:input>

                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setDecimalParameter">

            <soap:operation
                    soapAction="http://idecs.atc.ru/config/ws/setDecimalParameter" />
            <wsdl:input>

                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDecimalParameter">

            <soap:operation
                    soapAction="http://idecs.atc.ru/config/ws/getDecimalParameter" />
            <wsdl:input>

                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setDateParameter">

            <soap:operation
                    soapAction="http://idecs.atc.ru/config/ws/setDateParameter" />
            <wsdl:input>

                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDateParameter">

            <soap:operation
                    soapAction="http://idecs.atc.ru/config/ws/getDateParameter" />
            <wsdl:input>

                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setStrParameter">

            <soap:operation
                    soapAction="http://idecs.atc.ru/config/ws/setStrParameter" />
            <wsdl:input>

                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStrParameter">

            <soap:operation
                    soapAction="http://idecs.atc.ru/config/ws/getStrParameter" />
            <wsdl:input>

                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setTextParameter">

            <soap:operation
                    soapAction="http://idecs.atc.ru/config/ws/setTextParameter" />
            <wsdl:input>

                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTextParameter">

            <soap:operation
                    soapAction="http://idecs.atc.ru/config/ws/getTextParameter" />
            <wsdl:input>

                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listParameters">

            <soap:operation
                    soapAction="http://idecs.atc.ru/config/ws/listParameters" />
            <wsdl:input>

                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getLocks">
            <soap:operation
                    soapAction="http://idecs.atc.ru/config/ws/getLocks" />
            <wsdl:input>

                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="checkServiceStatus">
            <soap:operation soapAction="http://idecs.atc.ru/config/ws/checkServiceStatus"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ConfigService">
        <wsdl:port binding="cfg:ConfigServiceSOAP" name="ConfigServiceSOAP">
            <soap:address location=""/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
